@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.btn {
    background: #e02c6d;
    color: #fff;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 35px;
    display: inline-block;
    transition: all 300ms;
    margin: 15px 0;
}
.btn.btn-pink {
    background: rgba(255, 255, 255, 0);
    color: #e02c6d;
}
.btn:hover {
    background: #eb0c5d;
    transform: scale(1.1);
}
.btn.btn-pink:hover {
    background: rgba(255, 255, 255, 0);
    color: #e02c6d;
    transform: scale(1.1);
}

h1,
h2,
h3,
h4,
h5 {
    color: #3a3a3a;
    font-weight: 400;
    text-transform: capitalize;
}

h2 {
    font-size: 52px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
}

p {
    font-size: 16px;
    color: #3a3a3a;
    letter-spacing: 1.1px;
    margin: 20px 0 40px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.d-flex.justify-content-space-between {
    justify-content: space-between;
}

.d-flex.align-items-center {
    align-items: center;
}

nav {
    padding: 60px 0;
}
nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #3a3a3a;
    display: block;
    padding: 0 20px;
}
/* navigation ends */

header {
    padding: 60px 0;
}

.left-box {
    margin-right: 150px;
    width: 60%;
}

/* header ends */

.logo-area {
    margin-top: 50px;
}
.logos {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
.logos img {
    width: 100px;
    transition: all 0.3s;
}
.logos img:hover {
    transform: scale(1.1);
}
hr {
    border-top: #3a3a3a;
}

/* logo area ends */

.collection {
    margin: 100px 0;
}

.card {
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 320px;
    height: auto;
    border-radius: 5px;
}

.card img {
    margin-bottom: 10px;
    border-radius: 5px;
}
.rating i {
    color: #fb8200;
}

.price {
    margin: 0;
    font-size: 20px;
}

.card-content {
    margin: 10px 0;
}

.collection h3 {
    margin: 30px 0;
    text-align: center;
}

.collection h4 {
    margin-bottom: 10px;
}

.card-body {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
}

.btn-without-bg {
    display: flex;
    justify-content: end;
    margin-right: 5%;
    margin-top: 20px;
}

/* collection section ends */



.about-me img {
    width: 500px;
    border-radius: 6px;
    margin-right: 100px;
    transition: all .3s;
}

.about-me img:hover {
    transform: scale(1.1);
}

/* about section ends */


footer {
    background-color: #0A0826;
    text-align: center;
    margin-top: 100px;
    padding: 50px 0;
}
footer h4 {
    color: whitesmoke;
}

footer p {
    color: #D9DBE1;
}

.icons-color-footer {
    color: #D9DBE1;
    font-size: 33px;
    margin: 0 20px;
    transition: all 0.3s;
}

.icons-color-footer:hover {
    transform: scale(1.1);
    color: white;
}

/* footer ends  */